// .pulse {
//   height               : 700px;
//   width                : 1200px;
//   overflow             : hidden;
//   border-radius        : 5px;
//   position: relative;
// }
.login {
  width                : 100%;
  height               : 100%;
  min-width            : 1100px;
  min-height           : 600px;
  // display              : flex;
  // justify-content      : center;
  // align-items          : center;
  font-weight          : 400;
  font-size            : 12px;
  background: linear-gradient(107.7deg, #F5F6F9 4.45%, #F2F4FA 89.34%);
  .login-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .login-top {
      width: 100%;
      padding: 16px 30px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    .login-bottom {
      width: 100%;
      text-align: center;
      margin-bottom:  16px;
      .urlListBox {
        margin-bottom: 16px;
        a {
          display: inline-block;
          margin: 0 12px;
          line-height: 18px;
          color: #333333;
          position: relative;
          &:hover {
            color: #2D63BC; 
          }
          &::after {
            content: ' ';
            position: absolute;
            right: -12px;
            top: 3px;
            width: 1px;
            height: 12px;
            background: #DEDEDE;
          }
        }
        a:last-child {
          &::after {
            display: none;
          }
        }
      }
      .beianMiit {
        a {
          line-height: 18px;
          text-decoration: underline;
          color:rgba(0, 0, 0, 0.6);
          &:hover {
            color: #2D63BC;
          }
        }
      }
    }
    
  }
  // 中间的登陆框和轮播图的父元素
  &-body {
    height          : 440px;
    width           : 1120px;
    // border          : 1px solid #EBE4F1; // 换了首页的app2.0的宣传图,暂时注掉这行代码
    // box-shadow      : 0px 4px 4px rgba(0, 0, 0, 0.25);
    // overflow: hidden;
    // border-radius   : 5px;
    box-sizing      : border-box;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    // margin-top      : -700px;
    // 左侧登陆
    .login-box {
      width: 440px;
      height: 100%;
      padding: 38px 60px 0;
      box-shadow: 0px 2px 16px #D6DCE6;
      position: relative;
      background: #FFF;
      border-radius: 12px;
    }
    // 右侧轮播图
    .carousel-box {
      width: calc(100% - 440px);
      height: 100%;
    }
  }

  .frosted-glass{
    height: 700px;
    width: 1200px;
    background: inherit;
    filter: blur(10px);
  }

  // 切换登陆方式的样式
  &-title {
    display:flex;
    margin-bottom:40px;
    .QRtitle{
        margin-right:16px;
        cursor: pointer;
    }
    .unQRtitle{
        margin-right: 30px;
        font-size: 20px;
        line-height: 36px;
        color: #666;
        cursor: pointer;
    }
    .active {
        color: #333;
        font-weight: 600;
    }
    // 点击切换登陆方式的伪类
    .QRtitle.active::after,.unQRtitle.active::after {
        margin-top: 1px;
        display: block;
        content: '';
        height: 3px;
        background-color: #FF752A;
    }
  }

  &-icon {
    // logo右侧的字体
    .custom {
      font-size: 34px;
      color: #FF752A;
      box-sizing: border-box;
    }
  }
  .form-con {
    line-height: 12px;
    color: rgba(0, 0, 0, 0.8);;
  }
  // hello字体
  .hello-msg {
    margin-bottom: 26px;
    color:#202020;
    div:nth-child(1){
        font-size:16px;
    }
    div:nth-child(2){
        font-size: 17.6px;
    }
    div:nth-child(3){
        font-size: 17.6px;
        white-space: nowrap;
    }
  }

  &-button {
    width           : 100%;
    background-color: #FF752A;
    border-radius   : 5px;
    border          : none;
    outline         : none;
    color           : #ffffff;
    height          : 40px;
    cursor          : pointer;
    font-size       : 18px;
  }

  &-copyright {
    position: absolute;
    bottom: 35px;
    right: 72px;
    color     : rgba($color: #ffffff, $alpha: 0.9);
    display: flex;
    justify-content: flex-end;
    line-height: 14px;
    width     : 100%;
    text-align: center;
    .jump-link{
      font-size: 14px;
      color: #0134E8;
    }
  }
  .lang_box {
    font-size: 12px;
    .login_chart {
      color: #333;
      font-size: 12px;
      line-height: 18px;
      cursor     : pointer;
      user-select: none;
    }
  }
  &__forget-pass {
    font-family: 'PingFangSC-Regular';
    color      : #cccccc;
    font-size  : 14px;
    transition : 300ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor     : pointer;
    user-select: none;

    &:hover {
      color       : #FF752A;
      border-color: #FF752A;
    }
  }
  &__forget-pass-newCls{
    color: #3B78DE;
    font-size: 12px;
    &:hover {
      color       : #2D63BC;
      border-color: #2D63BC;
    }
  }
  &__down-load-app {
    // float: right;
    margin-right: 20px;
    padding: 4px 10px;
    color: #FF752A;
    background: #FFFFFF;
    border: 1px solid #FF752A;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    cursor: pointer;
    // &:hover{
    //   color: #2D63BC;
    // }
  }
  .userAgreement-privacyPolicy a{
    color:#3B78DE;
    cursor:pointer;
    &:hover {
      color       : #2D63BC;
      border-color: #2D63BC;
    }
  }
  // 账号和密码错误或账号权限问题的提示
  .login-tip {
    display: block;
    min-height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #F56C6C;
    margin-bottom: 6px;
  }
}

.login-upgrading {
  background: white;
}
