._filter-item {
  max-height: 283px;
  overflow-y: auto;
}

._input_hoverContent {
  position : relative;
  display  : inline-block;
  min-width: 300px;
  z-index  : 3;

  ._content_item {
    padding         : 8px 5px;
    position        : absolute;
    min-width       : 100%;
    top             : 42px;
    border-radius   : 5px;
    left            : 0;
    background-color: #ffffff;
    z-index         : 1;
    box-shadow      : 0 2px 12px 0 rgba(0, 0, 0, .1);
  }
}