@font-face {
  font-family: "custom"; /* Project id 956591 */
  src: url('iconfont.woff2?t=1720056493003') format('woff2'),
       url('iconfont.woff?t=1720056493003') format('woff'),
       url('iconfont.ttf?t=1720056493003') format('truetype'),
       url('iconfont.svg?t=1720056493003#custom') format('svg');
}

.custom {
  font-family: "custom" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-genjinjilu-gengduo:before {
  content: "\e999";
}

.custom-tongzhishezhi:before {
  content: "\e998";
}

.custom-chudianweiduxiaoxi:before {
  content: "\e997";
}

.custom-chongzhi:before {
  content: "\e993";
}

.custom-touxiang1:before {
  content: "\e994";
}

.custom-weixin:before {
  content: "\e995";
}

.custom-bangdingxinzhanghao:before {
  content: "\e996";
}

.custom-tuichu:before {
  content: "\e98e";
}

.custom-a-AIyue:before {
  content: "\e98f";
}

.custom-yuque:before {
  content: "\e990";
}

.custom-calendar1:before {
  content: "\e991";
}

.custom-kaipiao:before {
  content: "\e992";
}

.custom-a-WhatsAppMate:before {
  content: "\e98d";
}

.custom-chudianlianxiren:before {
  content: "\e98c";
}

.custom-a-Property1fajian:before {
  content: "\e988";
}

.custom-a-Property1doudi:before {
  content: "\e989";
}

.custom-a-Property1Facebook:before {
  content: "\e98a";
}

.custom-a-Property1wangzhan:before {
  content: "\e98b";
}

.custom-a-Property1dakaiyoujian:before {
  content: "\e97e";
}

.custom-a-Property1WhatsAppfaxiaoxi:before {
  content: "\e97f";
}

.custom-a-Property1xunpan:before {
  content: "\e980";
}

.custom-a-Property1kehu:before {
  content: "\e981";
}

.custom-a-Property1xiansuo:before {
  content: "\e982";
}

.custom-a-Property1genjinjilu:before {
  content: "\e983";
}

.custom-a-Property1biaodan:before {
  content: "\e984";
}

.custom-a-Property1WhatsAppqunxiaoxi:before {
  content: "\e985";
}

.custom-a-Property1shoujian:before {
  content: "\e986";
}

.custom-a-Property1WhatsAppshouxiaoxi:before {
  content: "\e987";
}

.custom-a-Property1lianxiren:before {
  content: "\e97d";
}

.custom-a-wendangCSV:before {
  content: "\e97b";
}

.custom-a-wendangweizhi:before {
  content: "\e97c";
}

.custom-a-wendangDOC:before {
  content: "\e972";
}

.custom-a-wendangJPG:before {
  content: "\e973";
}

.custom-a-wendangPDF:before {
  content: "\e974";
}

.custom-a-wendangRAR:before {
  content: "\e975";
}

.custom-a-wendangPPT:before {
  content: "\e976";
}

.custom-a-wendanggif:before {
  content: "\e977";
}

.custom-a-wendangPNG:before {
  content: "\e978";
}

.custom-a-wendangXLS:before {
  content: "\e979";
}

.custom-a-wendangZIP:before {
  content: "\e97a";
}

.custom-a-wendangMP3:before {
  content: "\e96f";
}

.custom-a-wendangTXT:before {
  content: "\e970";
}

.custom-a-wendangMP4:before {
  content: "\e971";
}

.custom-gongnengshezhi:before {
  content: "\e96d";
}

.custom-gongnengshezhi1:before {
  content: "\e96e";
}

.custom-AI2:before {
  content: "\e96c";
}

.custom-zhongxinshengchengdagang:before {
  content: "\e96b";
}

.custom-genjinjilu_yuanjiaojuxingdi:before {
  content: "\e96a";
}

.custom-jieduantuijin:before {
  content: "\e969";
}

.custom-Facebook2:before {
  content: "\e968";
}

.custom-wangzhanliuyan1:before {
  content: "\e963";
}

.custom-WhatsApp4:before {
  content: "\e964";
}

.custom-a-FacebookLeads:before {
  content: "\e965";
}

.custom-wangzhanliaotian:before {
  content: "\e966";
}

.custom-youjian3:before {
  content: "\e967";
}

.custom-qiyeGPT:before {
  content: "\e960";
}

.custom-a-AIguoduanniu:before {
  content: "\e962";
}

.custom-guanbi:before {
  content: "\e961";
}

.custom-jieduanshouqi:before {
  content: "\e95e";
}

.custom-jieduanzhankai:before {
  content: "\e95f";
}

.custom-a-close-circle1:before {
  content: "\e95c";
}

.custom-close-qingkongshaixuan1:before {
  content: "\e95d";
}

.custom-setting-2:before {
  content: "\e95b";
}

.custom-Vector:before {
  content: "\e95a";
}

.custom-stop-circle:before {
  content: "\e959";
}

.custom-xiangqingyeshanchuicon:before {
  content: "\e958";
}

.custom-close-qingkongshaixuan:before {
  content: "\e957";
}

.custom-Gmailyouxiang:before {
  content: "\e956";
}

.custom-jiangxu1:before {
  content: "\e954";
}

.custom-shengxu1:before {
  content: "\e955";
}

.custom-jiangxu:before {
  content: "\e953";
}

.custom-shengxu:before {
  content: "\e952";
}

.custom-biaodanshezhi:before {
  content: "\e951";
}

.custom-goutong:before {
  content: "\e950";
}

.custom-shemei:before {
  content: "\e94f";
}

.custom-yewuduixiangtongyonggongneng_shaixuan:before {
  content: "\e94e";
}

.custom-a-Property1shouqi:before {
  content: "\e94c";
}

.custom-a-Property1zhankai:before {
  content: "\e94d";
}

.custom-AI_fasongicon:before {
  content: "\e94a";
}

.custom-AI_xuanfuanniu:before {
  content: "\e94b";
}

.custom-arrow-left:before {
  content: "\e949";
}

.custom-cuowu:before {
  content: "\e948";
}

.custom-zhengque:before {
  content: "\e947";
}

.custom-followUpRecord:before {
  content: "\e946";
}

.custom-CRM_cehuachuangkou:before {
  content: "\e945";
}

.custom-info-circle:before {
  content: "\e944";
}

.custom-CRM_yongdaoshitu:before {
  content: "\e943";
}

.custom-jinhangzhongdeshangji:before {
  content: "\e942";
}

.custom-add3:before {
  content: "\e941";
}

.custom-department:before {
  content: "\e93a";
}

.custom-touchPointContact:before {
  content: "\e93b";
}

.custom-customer1:before {
  content: "\e93c";
}

.custom-staff:before {
  content: "\e93d";
}

.custom-leads:before {
  content: "\e93e";
}

.custom-opportunity:before {
  content: "\e93f";
}

.custom-contact1:before {
  content: "\e940";
}

.custom-timer-start:before {
  content: "\e939";
}

.custom-businessObjectAndField:before {
  content: "\e936";
}

.custom-zuzhijiagou:before {
  content: "\e937";
}

.custom-gongsigaikuang:before {
  content: "\e938";
}

.custom-global:before {
  content: "\e935";
}

.custom-profile-add:before {
  content: "\e933";
}

.custom-arrow1:before {
  content: "\e934";
}

.custom-minus-cirlce:before {
  content: "\e932";
}

.custom-Tips:before {
  content: "\e92d";
}

.custom-zhidi:before {
  content: "\e92e";
}

.custom-xiayidong:before {
  content: "\e92f";
}

.custom-zhiding:before {
  content: "\e930";
}

.custom-shangyidong:before {
  content: "\e931";
}

.custom-yidong:before {
  content: "\e92c";
}

.custom-trash1:before {
  content: "\e92b";
}

.custom-message-text1:before {
  content: "\e92a";
}

.custom-add2:before {
  content: "\e929";
}

.custom-shujiegou-wuziji:before {
  content: "\e928";
}

.custom-tick-circle:before {
  content: "\e927";
}

.custom-touxiang:before {
  content: "\e926";
}

.custom-message-text:before {
  content: "\e923";
}

.custom-a-Property1arrow-rightProperty2linear:before {
  content: "\e924";
}

.custom-sms:before {
  content: "\e925";
}

.custom-beijiansuoshu:before {
  content: "\e921";
}

.custom-tokenshu:before {
  content: "\e922";
}

.custom-shanchu:before {
  content: "\e91f";
}

.custom-queren:before {
  content: "\e920";
}

.custom-shangchuanshibai:before {
  content: "\e91e";
}

.custom-yulan1:before {
  content: "\e7ac";
}

.custom-shiyongjilu:before {
  content: "\e76a";
}

.custom-shangchuan:before {
  content: "\e769";
}

.custom-wendaji:before {
  content: "\e767";
}

.custom-bendiwenjian:before {
  content: "\e768";
}

.custom-zixun1:before {
  content: "\e75c";
}

.custom-xianshimianfei1:before {
  content: "\e75a";
}

.custom-command:before {
  content: "\e758";
}

.custom-arrow-right:before {
  content: "\e759";
}

.custom-unlike:before {
  content: "\e757";
}

.custom-like1:before {
  content: "\e756";
}

.custom-outlook:before {
  content: "\e755";
}

.custom-OpenAPI:before {
  content: "\e754";
}

.custom-jishuzhichi:before {
  content: "\e753";
}

.custom-messages-2:before {
  content: "\e752";
}

.custom-import1:before {
  content: "\e74f";
}

.custom-eye:before {
  content: "\e750";
}

.custom-send-2:before {
  content: "\e751";
}

.custom-edit1:before {
  content: "\e716";
}

.custom-zan:before {
  content: "\e717";
}

.custom-cai:before {
  content: "\e720";
}

.custom-edit-2:before {
  content: "\e73f";
}

.custom-copy1:before {
  content: "\e715";
}

.custom-arrow-up:before {
  content: "\e705";
}

.custom-duigou:before {
  content: "\e704";
}

.custom-layer:before {
  content: "\e703";
}

.custom-AI1:before {
  content: "\e702";
}

.custom-close-circle:before {
  content: "\e700";
}

.custom-dislike:before {
  content: "\e6fc";
}

.custom-gengduo3:before {
  content: "\e6fd";
}

.custom-like:before {
  content: "\e6ff";
}

.custom-labelManage:before {
  content: "\e6f5";
}

.custom-knowledgeMap:before {
  content: "\e6f6";
}

.custom-add1:before {
  content: "\e6f9";
}

.custom-gengduo2:before {
  content: "\e6f4";
}

.custom-youjianmoban:before {
  content: "\e6f3";
}

.custom-chakanmoban:before {
  content: "\e6f2";
}

.custom-exclamation:before {
  content: "\e6f1";
}

.custom-fanyi2:before {
  content: "\e6f0";
}

.custom-fanyi1:before {
  content: "\e6ef";
}

.custom-a-daohangtonghua-duanxinnormal:before {
  content: "\e6ee";
}

.custom-Email_fenfa1:before {
  content: "\e6ed";
}

.custom-qiweihuashu:before {
  content: "\e6ec";
}

.custom-zidonghuawenzhangshengcheng:before {
  content: "\e6eb";
}

.custom-a-googlesearchconsole:before {
  content: "\e6ea";
}

.custom-guojidiqu:before {
  content: "\e6e9";
}

.custom-Email_fenfa:before {
  content: "\e6e8";
}

.custom-yunxingzhuang:before {
  content: "\e6e7";
}

.custom-dynamic-type-qiwei:before {
  content: "\e6de";
}

.custom-nv:before {
  content: "\e6dc";
}

.custom-nan:before {
  content: "\e6dd";
}

.custom-a-logotuxing:before {
  content: "\e6e5";
}

.custom-a-logowenzi:before {
  content: "\e6e6";
}

.custom-a-logotuxingwenzi:before {
  content: "\e6e4";
}

.custom-tonghuajieshu:before {
  content: "\e6e0";
}

.custom-tonghua-duanxin:before {
  content: "\e6e1";
}

.custom-weijiedianhua:before {
  content: "\e6e2";
}

.custom-tonghuashibai:before {
  content: "\e6e3";
}

.custom-bianji-normal:before {
  content: "\e6df";
}

.custom-youjianliebiao-gengduoicon:before {
  content: "\e6db";
}

.custom-renwutixing:before {
  content: "\e6da";
}

.custom-genjinjihua:before {
  content: "\e6d9";
}

.custom-shouqi2:before {
  content: "\e6d8";
}

.custom-zhankai3:before {
  content: "\e6d7";
}

.custom-zhudaohang_qiyeweixin:before {
  content: "\e6d6";
}

.custom-icon_yibiaopan_biaogeshitu:before {
  content: "\e6d4";
}

.custom-icon_yibiaopan_tubiaoshitu:before {
  content: "\e6d5";
}

.custom-huaban:before {
  content: "\e6d3";
}

.custom-icon_quxiao:before {
  content: "\e6d2";
}

.custom-icon_xiazai:before {
  content: "\e6d0";
}

.custom-icon_huanyuan:before {
  content: "\e6d1";
}

.custom-gengduo1:before {
  content: "\e6cf";
}

.custom-tongshi:before {
  content: "\e6cc";
}

.custom-weijiandang:before {
  content: "\e6cd";
}

.custom-tongxunlu:before {
  content: "\e6ce";
}

.custom-a-icon_Replied2:before {
  content: "\e6cb";
}

.custom-icon_shanchu:before {
  content: "\e6c8";
}

.custom-icon_neibuzhuanfa:before {
  content: "\e6c9";
}

.custom-icon_shoudongzhihangshoufaxinguize:before {
  content: "\e6ca";
}

.custom-icon_jiandang:before {
  content: "\e6c7";
}

.custom-icon_biaoji:before {
  content: "\e6c2";
}

.custom-icon_biaoqian:before {
  content: "\e6c3";
}

.custom-icon_forwarded1:before {
  content: "\e6c4";
}

.custom-icon_yidongdao:before {
  content: "\e6c5";
}

.custom-a-icon_Replied1:before {
  content: "\e6c6";
}

.custom-xianshimianfei:before {
  content: "\e6c1";
}

.custom-wufayulan:before {
  content: "\e6c0";
}

.custom-xinjian1:before {
  content: "\e6be";
}

.custom-xinjianzhankai:before {
  content: "\e6bf";
}

.custom-xinjianlianxiren:before {
  content: "\e6b9";
}

.custom-xinjianxiansuo:before {
  content: "\e6ba";
}

.custom-genjinjilu:before {
  content: "\e6bb";
}

.custom-xinjiankehu:before {
  content: "\e6bc";
}

.custom-xunpan:before {
  content: "\e6bd";
}

.custom-tupian:before {
  content: "\e6b7";
}

.custom-fujian:before {
  content: "\e6b8";
}

.custom-kuaisuchuangjian:before {
  content: "\e6b5";
}

.custom-sousuo1:before {
  content: "\e6b6";
}

.custom-new1:before {
  content: "\e6b3";
}

.custom-gaojishaixuan:before {
  content: "\e6b4";
}

.custom-fangkelishi:before {
  content: "\e6b1";
}

.custom-wangzhanliuyan:before {
  content: "\e6b2";
}

.custom-xiansuoguanli:before {
  content: "\e6af";
}

.custom-liaotianshezhi:before {
  content: "\e6b0";
}

.custom-WhatsAppguanli_shouxiaoxi:before {
  content: "\e6ad";
}

.custom-a-WhatsAppguanli_faxiaoxi:before {
  content: "\e6ae";
}

.custom-dianhua4:before {
  content: "\e6ab";
}

.custom-whatsapp-api:before {
  content: "\e6ac";
}

.custom-zengchangicon:before {
  content: "\e6aa";
}

.custom-icon_track_n:before {
  content: "\e6a9";
}

.custom-wangzhanxiangqingye:before {
  content: "\e6a7";
}

.custom-yonghushezhixiangqingye:before {
  content: "\e6a8";
}

.custom-chaoguanzhanghao:before {
  content: "\e6a6";
}

.custom-createSession:before {
  content: "\e6a5";
}

.custom-smartRobot:before {
  content: "\e6a4";
}

.custom-file-dwg:before {
  content: "\e6a3";
}

.custom-file-ai:before {
  content: "\e60f";
}

.custom-AI:before {
  content: "\e60e";
}

.custom-icon_m_eye:before {
  content: "\e6a1";
}

.custom-icon_replyall:before {
  content: "\e6a2";
}

.custom-icon_opennew:before {
  content: "\e69f";
}

.custom-list_compactMode:before {
  content: "\e6a0";
}

.custom-attachment-copy:before {
  content: "\e69e";
}

.custom-shouqibiaoqian:before {
  content: "\e60c";
}

.custom-zhankai2:before {
  content: "\e608";
}

.custom-dabiaoqian:before {
  content: "\e60a";
}

.custom-suolveshitu:before {
  content: "\e606";
}

.custom-wendang:before {
  content: "\e603";
}

.custom-a-yichulianxiren3:before {
  content: "\e605";
}

.custom-add-circle-gray:before {
  content: "\e600";
}

.custom-icon_addfile:before {
  content: "\e69d";
}

.custom-icon_syn:before {
  content: "\e69a";
}

.custom-icon_send1:before {
  content: "\e69b";
}

.custom-icon_receive:before {
  content: "\e69c";
}

.custom-icon_archived:before {
  content: "\e68d";
}

.custom-icon_mail_state_task_n:before {
  content: "\e68e";
}

.custom-icon_forwarded:before {
  content: "\e68f";
}

.custom-icon_fail1:before {
  content: "\e690";
}

.custom-a-icon_Replied:before {
  content: "\e691";
}

.custom-icon_sendwait:before {
  content: "\e692";
}

.custom-icon_mass_n:before {
  content: "\e693";
}

.custom-icon_delete:before {
  content: "\e694";
}

.custom-icon_mail_task_n:before {
  content: "\e695";
}

.custom-icon_sendwait1:before {
  content: "\e696";
}

.custom-icon_z_delete:before {
  content: "\e697";
}

.custom-icon_detail_get:before {
  content: "\e698";
}

.custom-icon_detail_send:before {
  content: "\e699";
}

.custom-shibai:before {
  content: "\e685";
}

.custom-songda:before {
  content: "\e686";
}

.custom-huafei:before {
  content: "\e68b";
}

.custom-fasong:before {
  content: "\e68c";
}

.custom-quanbuchayue:before {
  content: "\e687";
}

.custom-yichayue:before {
  content: "\e688";
}

.custom-yichangmingxi:before {
  content: "\e689";
}

.custom-weichayue:before {
  content: "\e68a";
}

.custom-prePage:before {
  content: "\ea40";
}

.custom-nextPage:before {
  content: "\ea3b";
}

.custom-shrink:before {
  content: "\ea3c";
}

.custom-enlarge:before {
  content: "\ea3d";
}

.custom-rotate:before {
  content: "\ea3e";
}

.custom-quadrant:before {
  content: "\ea3f";
}

.custom-icon_m_spam1:before {
  content: "\e684";
}

.custom-icon_location:before {
  content: "\e682";
}

.custom-icon_follow:before {
  content: "\e683";
}

.custom-icon_e_rule:before {
  content: "\e681";
}

.custom-icon_c_rule:before {
  content: "\e680";
}

.custom-icon_log:before {
  content: "\e67e";
}

.custom-icon_m_spam:before {
  content: "\e67f";
}

.custom-googleAccount:before {
  content: "\ea3a";
}

.custom-xiaoxisousuo:before {
  content: "\ea39";
}

.custom-unspecified:before {
  content: "\ea34";
}

.custom-unknown:before {
  content: "\ea33";
}

.custom-icon_fail:before {
  content: "\e67d";
}

.custom-icon_success:before {
  content: "\e67c";
}

.custom-icon_up_n:before {
  content: "\e679";
}

.custom-icon_down_h:before {
  content: "\e67a";
}

.custom-icon_up_h:before {
  content: "\e67b";
}

.custom-icon_plus_h:before {
  content: "\e674";
}

.custom-icon_down_n:before {
  content: "\e675";
}

.custom-icon_plus_n:before {
  content: "\e676";
}

.custom-icon_minus_h:before {
  content: "\e677";
}

.custom-icon_minus_n:before {
  content: "\e678";
}

.custom-wa_label011:before {
  content: "\e673";
}

.custom-wa_label021:before {
  content: "\e672";
}

.custom-wa_label02:before {
  content: "\e670";
}

.custom-wa_label01:before {
  content: "\e671";
}

.custom-icon_crm_fixed_s:before {
  content: "\e66e";
}

.custom-icon_crm_fixed_n:before {
  content: "\e66f";
}

.custom-customer-service:before {
  content: "\e66d";
}

.custom-icon_move:before {
  content: "\e66c";
}

.custom-icon_plugin_upload:before {
  content: "\e66a";
}

.custom-icon_plugin_download:before {
  content: "\e66b";
}

.custom-icon_more:before {
  content: "\e669";
}

.custom-icon_appendix:before {
  content: "\e667";
}

.custom-icon_material:before {
  content: "\e668";
}

.custom-icon_form:before {
  content: "\e666";
}

.custom-icon_next_e:before {
  content: "\e65a";
}

.custom-icon_last_n:before {
  content: "\e65b";
}

.custom-icon_last_e:before {
  content: "\e65c";
}

.custom-icon_next_n:before {
  content: "\e65d";
}

.custom-icon_close:before {
  content: "\e65e";
}

.custom-detail_open:before {
  content: "\e65f";
}

.custom-icon_download:before {
  content: "\e660";
}

.custom-icon_enlarge:before {
  content: "\e661";
}

.custom-icon_enlarge_w:before {
  content: "\e662";
}

.custom-icon_ensmall_w:before {
  content: "\e663";
}

.custom-icon_ensmall:before {
  content: "\e664";
}

.custom-icon_next_e-copy:before {
  content: "\ea41";
}

.custom-icon_ins1:before {
  content: "\e659";
}

.custom-icon_small:before {
  content: "\e658";
}

.custom-icon_service:before {
  content: "\e657";
}

.custom-icon_open:before {
  content: "\e655";
}

.custom-icon_send:before {
  content: "\e656";
}

.custom-icon_update:before {
  content: "\e654";
}

.custom-menu-dashboard-hover:before {
  content: "\e632";
}

.custom-menu-email-hover:before {
  content: "\e633";
}

.custom-menu-BI-hover:before {
  content: "\e634";
}

.custom-menu-smart-materials-hover:before {
  content: "\e64c";
}

.custom-menu-crm-hover:before {
  content: "\e64d";
}

.custom-menu-web-hover:before {
  content: "\e64e";
}

.custom-menu-fb-hover:before {
  content: "\e64f";
}

.custom-menu-whatsApp-hover:before {
  content: "\e650";
}

.custom-menu-email-market-hover:before {
  content: "\e651";
}

.custom-menu-googleAds-hover:before {
  content: "\e652";
}

.custom-menu-SEO-hover:before {
  content: "\e653";
}

.custom-menu-email-default:before {
  content: "\e620";
}

.custom-menu-smart-materials-default:before {
  content: "\e622";
}

.custom-menu-crm-default:before {
  content: "\e623";
}

.custom-menu-BI-default:before {
  content: "\e629";
}

.custom-menu-fb-default:before {
  content: "\e62a";
}

.custom-menu-web-default:before {
  content: "\e62b";
}

.custom-menu-googleAds-default:before {
  content: "\e62c";
}

.custom-menu-dashboard-default:before {
  content: "\e62d";
}

.custom-menu-whatsApp-default:before {
  content: "\e62f";
}

.custom-menu-SEO-default:before {
  content: "\e630";
}

.custom-menu-email-market-default:before {
  content: "\e631";
}

.custom-menu-email-market-click:before {
  content: "\e649";
}

.custom-menu-crm-click:before {
  content: "\e64a";
}

.custom-menu-SEO-click:before {
  content: "\e64b";
}

.custom-menu-smart-materials-click:before {
  content: "\e640";
}

.custom-menu-web-click:before {
  content: "\e641";
}

.custom-menu-BI-click:before {
  content: "\e642";
}

.custom-menu-email-click:before {
  content: "\e643";
}

.custom-menu-dashboard-click:before {
  content: "\e644";
}

.custom-menu-fb-click:before {
  content: "\e645";
}

.custom-menu-whatsApp-click:before {
  content: "\e647";
}

.custom-menu-googleAds-click:before {
  content: "\e648";
}

.custom-icon_Twitter:before {
  content: "\e63e";
}

.custom-icon_ins:before {
  content: "\e63f";
}

.custom-icon_Facebook:before {
  content: "\e63a";
}

.custom-icon_in:before {
  content: "\e63b";
}

.custom-icon_Youtube:before {
  content: "\e63c";
}

.custom-icon_other:before {
  content: "\e63d";
}

.custom-icon_picn:before {
  content: "\e639";
}

.custom-icon_cloud:before {
  content: "\e638";
}

.custom-Logo:before {
  content: "\e637";
}

.custom-HideRight:before {
  content: "\e636";
}

.custom-HideLeft:before {
  content: "\e635";
}

.custom-icon_list_delete:before {
  content: "\e609";
}

.custom-icon_list_add:before {
  content: "\e607";
}

.custom-icon_undeling:before {
  content: "\e604";
}

.custom-google:before {
  content: "\e62e";
}

.custom-fanyi:before {
  content: "\ea2f";
}

.custom-deleted:before {
  content: "\ea2e";
}

.custom-bianliang:before {
  content: "\ea2b";
}

.custom-EDMyingxiao:before {
  content: "\ea2c";
}

.custom-kuaisuwenben:before {
  content: "\ea2d";
}

.custom-clue-sec:before {
  content: "\ea2a";
}

.custom-logo-zh-new2:before {
  content: "\ea29";
}

.custom-logo-en-new2:before {
  content: "\ea28";
}

.custom-logo-en-new:before {
  content: "\ea27";
}

.custom-logo-zh-new:before {
  content: "\e91d";
}

.custom-address-more:before {
  content: "\ea26";
}

.custom-scrollToBottom:before {
  content: "\e91c";
}

.custom-emoji:before {
  content: "\e91b";
}

.custom-dynamic-type-mail:before {
  content: "\e8ff";
}

.custom-sanjiaoxing:before {
  content: "\e91a";
}

.custom-unfiled:before {
  content: "\e919";
}

.custom-lianjie1:before {
  content: "\e918";
}

.custom-fangda2:before {
  content: "\e916";
}

.custom-suoxiao1:before {
  content: "\e917";
}

.custom-new:before {
  content: "\e915";
}

.custom-customer-columns-filter:before {
  content: "\e914";
}

.custom-shouqi1:before {
  content: "\e912";
}

.custom-zhankai1:before {
  content: "\e913";
}

.custom-qianming:before {
  content: "\e911";
}

.custom-huifuquanbu:before {
  content: "\e910";
}

.custom-dynamic-type-whatsApp:before {
  content: "\e90f";
}

.custom-fanhuidingbu:before {
  content: "\e90e";
}

.custom-qiyeyouxiangguanli:before {
  content: "\e90a";
}

.custom-my-customer-view-list:before {
  content: "\e90c";
}

.custom-my-customer-view-card:before {
  content: "\e90d";
}

.custom-folder:before {
  content: "\e90b";
}

.custom-archiveToCrm:before {
  content: "\e909";
}

.custom-distribute:before {
  content: "\e907";
}

.custom-throw:before {
  content: "\e908";
}

.custom-inter-forwarding:before {
  content: "\e905";
}

.custom-inter-forwarding-flag:before {
  content: "\e906";
}

.custom-youxiangshaixuanlianxiren:before {
  content: "\e904";
}

.custom-Analyticsfenxilogo:before {
  content: "\e903";
}

.custom-dynamic-type-webVisit:before {
  content: "\e8fe";
}

.custom-dynamic-type-facebook:before {
  content: "\e901";
}

.custom-dynamic-type-source:before {
  content: "\e902";
}

.custom-dynamic-type-followUp:before {
  content: "\e900";
}

.custom-upload:before {
  content: "\e8fd";
}

.custom-yejimubiao:before {
  content: "\e8fc";
}

.custom-followup-more-operate:before {
  content: "\e8ea";
}

.custom-followup-comment:before {
  content: "\e8ec";
}

.custom-TXT:before {
  content: "\e8fb";
}

.custom-translate:before {
  content: "\e8ee";
}

.custom-delete-component:before {
  content: "\e8fa";
}

.custom-convert:before {
  content: "\e8f9";
}

.custom-claim-customer:before {
  content: "\e8f8";
}

.custom-amp-chat:before {
  content: "\e8f7";
}

.custom-amp-message:before {
  content: "\e8f6";
}

.custom-journey-time:before {
  content: "\e8f5";
}

.custom-journey-search:before {
  content: "\e8f4";
}

.custom-main-contact:before {
  content: "\e8f3";
}

.custom-signed:before {
  content: "\e8ef";
}

.custom-unsign:before {
  content: "\e8f1";
}

.custom-qrcode:before {
  content: "\e8e3";
}

.custom-document-filter:before {
  content: "\e8eb";
}

.custom-label:before {
  content: "\e8ed";
}

.custom-new-contact:before {
  content: "\e8f0";
}

.custom-document-filtering:before {
  content: "\e8f2";
}

.custom-inquiry-sec:before {
  content: "\e8e9";
}

.custom-more-vertical:before {
  content: "\e8e8";
}

.custom-batch-download:before {
  content: "\e8e7";
}

.custom-customer-more-operate:before {
  content: "\e8e6";
}

.custom-new-inquiry:before {
  content: "\e8e2";
}

.custom-customer-send-mail:before {
  content: "\e8e4";
}

.custom-transfer-customer:before {
  content: "\e8e5";
}

.custom-arrow-opened:before {
  content: "\e8e1";
}

.custom-youjian2:before {
  content: "\e8dd";
}

.custom-back-top:before {
  content: "\e8de";
}

.custom-liuyan:before {
  content: "\e8df";
}

.custom-dianhua3:before {
  content: "\e8e0";
}

.custom-normal:before {
  content: "\e8d6";
}

.custom-rili:before {
  content: "\e8db";
}

.custom-sousuo:before {
  content: "\e8dc";
}

.custom-mail-untreated:before {
  content: "\e8d8";
}

.custom-mail-finished:before {
  content: "\e8d9";
}

.custom-mail-notSet:before {
  content: "\e8da";
}

.custom-shengchengdingdan:before {
  content: "\e8d7";
}

.custom-print:before {
  content: "\e8d5";
}

.custom-follow-type-instagram:before {
  content: "\e8d4";
}

.custom-ins:before {
  content: "\e8d3";
}

.custom-xuanzhongbeifen:before {
  content: "\e8d2";
}

.custom-menu-seo:before {
  content: "\e8ce";
}

.custom-dengpao:before {
  content: "\e8cf";
}

.custom-wailian:before {
  content: "\e8d0";
}

.custom-neilian:before {
  content: "\e8d1";
}

.custom-tupiansuolve:before {
  content: "\e8cd";
}

.custom-xiayiping:before {
  content: "\e8c9";
}

.custom-alibaba-logo:before {
  content: "\e8c8";
}

.custom-PNG:before {
  content: "\e8ca";
}

.custom-GIF:before {
  content: "\e8cb";
}

.custom-JPG:before {
  content: "\e8cc";
}

.custom-help-center:before {
  content: "\e8bc";
}

.custom-fangwenguanwang:before {
  content: "\e8c7";
}

.custom-fenxiang1:before {
  content: "\e8c4";
}

.custom-zixun:before {
  content: "\e8c5";
}

.custom-mulu1:before {
  content: "\e8c6";
}

.custom-service:before {
  content: "\e8c3";
}

.custom-no-network-connection:before {
  content: "\e8c2";
}

.custom-haveRead:before {
  content: "\e8c1";
}

.custom-delivered-and-unreceived:before {
  content: "\e8bd";
}

.custom-fasongshibai:before {
  content: "\e8be";
}

.custom-delivered-and-received:before {
  content: "\e8bf";
}

.custom-tobeDelivered:before {
  content: "\e8c0";
}

.custom-jiejuefangan:before {
  content: "\e8bb";
}

.custom-case-manage-1:before {
  content: "\e8b3";
}

.custom-moban:before {
  content: "\e8b4";
}

.custom-product-manage-1:before {
  content: "\e8b5";
}

.custom-settings:before {
  content: "\e8b6";
}

.custom-video-1:before {
  content: "\e8b7";
}

.custom-pic-manage-1:before {
  content: "\e8b8";
}

.custom-file-manage-1:before {
  content: "\e8b9";
}

.custom-news-manage-1:before {
  content: "\e8ba";
}

.custom-leizhenyuyoubingbao:before {
  content: "\e8b2";
}

.custom-shachenbao1:before {
  content: "\e8ae";
}

.custom-yanzhongwumai:before {
  content: "\e8b0";
}

.custom-tedabaoyu1:before {
  content: "\e8b1";
}

.custom-zhuanhuan1:before {
  content: "\e8af";
}

.custom-menu-authSettings:before {
  content: "\e886";
}

.custom-fuzhi1:before {
  content: "\e8ad";
}

.custom-menu-dashBoard:before {
  content: "\e899";
}

.custom-menu-CRM:before {
  content: "\e898";
}

.custom-dongyu:before {
  content: "\e8a7";
}

.custom-fuchen:before {
  content: "\e8ac";
}

.custom-bingbao:before {
  content: "\e60b";
}

.custom-leibao:before {
  content: "\e60d";
}

.custom-dabaoyu:before {
  content: "\e610";
}

.custom-dayu:before {
  content: "\e611";
}

.custom-duoyun:before {
  content: "\e612";
}

.custom-qingtian:before {
  content: "\e613";
}

.custom-xiaoyu:before {
  content: "\e614";
}

.custom-yin:before {
  content: "\e615";
}

.custom-zhongyu:before {
  content: "\e616";
}

.custom-baoyu:before {
  content: "\e617";
}

.custom-dabaoxue:before {
  content: "\e618";
}

.custom-daxue:before {
  content: "\e619";
}

.custom-duoyunzhuanqing:before {
  content: "\e61a";
}

.custom-leizhenyu:before {
  content: "\e61b";
}

.custom-leiyu:before {
  content: "\e61c";
}

.custom-xiaoxue:before {
  content: "\e61d";
}

.custom-zhongxue:before {
  content: "\e61e";
}

.custom-wu:before {
  content: "\e61f";
}

.custom-baoxue:before {
  content: "\e621";
}

.custom-yujiaxue:before {
  content: "\e624";
}

.custom-zhenxue:before {
  content: "\e625";
}

.custom-zhenyu:before {
  content: "\e626";
}

.custom-tedabaoyu:before {
  content: "\e627";
}

.custom-shachenbao:before {
  content: "\e628";
}

.custom-mai:before {
  content: "\e665";
}

.custom-logo2:before {
  content: "\e8aa";
}

.custom-English1:before {
  content: "\e8ab";
}

.custom-English:before {
  content: "\e8a9";
}

.custom-logo1:before {
  content: "\e8a8";
}

.custom-menu-highSeasSettings:before {
  content: "\e8a1";
}

.custom-menu-fieldSettings:before {
  content: "\e8a2";
}

.custom-menu-fieldAttrSettings:before {
  content: "\e8a3";
}

.custom-menu-autoSettings:before {
  content: "\e8a4";
}

.custom-menu-chatSettings:before {
  content: "\e8a5";
}

.custom-menu-corpOverview:before {
  content: "\e8a6";
}

.custom-app-center:before {
  content: "\e8a0";
}

.custom-menu-BI:before {
  content: "\e897";
}

.custom-menu-cloudPush:before {
  content: "\e89a";
}

.custom-menu-webInteraction:before {
  content: "\e89b";
}

.custom-menu-Facebook:before {
  content: "\e89c";
}

.custom-menu-mail:before {
  content: "\e89d";
}

.custom-menu-WhatsApp:before {
  content: "\e89e";
}

.custom-menu-googleAds:before {
  content: "\e89f";
}

.custom-search-whatsApp:before {
  content: "\e896";
}

.custom-search-mail:before {
  content: "\e894";
}

.custom-dizhi1:before {
  content: "\e895";
}

.custom-WhatsApp3:before {
  content: "\e892";
}

.custom-dianhua2:before {
  content: "\e893";
}

.custom-messenger:before {
  content: "\e890";
}

.custom-youxiang:before {
  content: "\e891";
}

.custom-RAR:before {
  content: "\e88f";
}

.custom-WhatsApp2:before {
  content: "\e888";
}

.custom-youjian1:before {
  content: "\e889";
}

.custom-gongsi:before {
  content: "\e88a";
}

.custom-wangzhan1:before {
  content: "\e88b";
}

.custom-Messenger:before {
  content: "\e88c";
}

.custom-wangzhi1:before {
  content: "\e88d";
}

.custom-dianhua1:before {
  content: "\e88e";
}

.custom-gengduo:before {
  content: "\e887";
}

.custom-yincang:before {
  content: "\e87f";
}

.custom-xianshi:before {
  content: "\e880";
}

.custom-wangzhan:before {
  content: "\e881";
}

.custom-yulan:before {
  content: "\e882";
}

.custom-yuming:before {
  content: "\e883";
}

.custom-fabu1:before {
  content: "\e884";
}

.custom-jiantou:before {
  content: "\e885";
}

.custom-diannao:before {
  content: "\e87d";
}

.custom-shouji:before {
  content: "\e87e";
}

.custom-follow-type-whatsApp:before {
  content: "\e865";
}

.custom-next-view:before {
  content: "\e87c";
}

.custom-Messengerfanbai:before {
  content: "\e87b";
}

.custom-MP4:before {
  content: "\e87a";
}

.custom-MP3:before {
  content: "\e879";
}

.custom-warning:before {
  content: "\e878";
}

.custom-shanchu1:before {
  content: "\e876";
}

.custom-shanchu-jingshi:before {
  content: "\e877";
}

.custom-xiaoshou:before {
  content: "\e875";
}

.custom-wenjianweizhi:before {
  content: "\e874";
}

.custom-tumblr:before {
  content: "\e872";
}

.custom-Printerest:before {
  content: "\e873";
}

.custom-fangda1:before {
  content: "\e871";
}

.custom-shouqi:before {
  content: "\e86f";
}

.custom-zhankai:before {
  content: "\e870";
}

.custom-fenxiang:before {
  content: "\e86e";
}

.custom-Twitter:before {
  content: "\e86c";
}

.custom-lianjie:before {
  content: "\e86d";
}

.custom-in:before {
  content: "\e867";
}

.custom-youjian:before {
  content: "\e869";
}

.custom-Facebook1:before {
  content: "\e86a";
}

.custom-xingzhuang:before {
  content: "\e86b";
}

.custom-sending:before {
  content: "\e868";
}

.custom-shangyiping:before {
  content: "\e866";
}

.custom-mulu:before {
  content: "\e864";
}

.custom-zuoyouqiehuan:before {
  content: "\e862";
}

.custom-zuoyouqiehuanbeifen2:before {
  content: "\e863";
}

.custom-fangda:before {
  content: "\e860";
}

.custom-suoxiao:before {
  content: "\e861";
}

.custom-cloud-facebook1:before {
  content: "\e85d";
}

.custom-cloud-zhuanfa:before {
  content: "\e85e";
}

.custom-cloud-youjian:before {
  content: "\e85f";
}

.custom-cloud-twitter:before {
  content: "\e85c";
}

.custom-email:before {
  content: "\e858";
}

.custom-WhatsApp1:before {
  content: "\e859";
}

.custom-dianhua:before {
  content: "\e85a";
}

.custom-wangzhi:before {
  content: "\e85b";
}

.custom-WhatsApp:before {
  content: "\e857";
}

.custom-common_icon_px_yidong:before {
  content: "\e856";
}

.custom-quit:before {
  content: "\e855";
}

.custom-menu-whatsapp-manage:before {
  content: "\e854";
}

.custom-video-play:before {
  content: "\e853";
}

.custom-qr-code:before {
  content: "\e852";
}

.custom-document:before {
  content: "\e850";
}

.custom-video-new:before {
  content: "\e851";
}

.custom-PDF:before {
  content: "\e849";
}

.custom-Excel:before {
  content: "\e84a";
}

.custom-Word:before {
  content: "\e84b";
}

.custom-rect:before {
  content: "\e84c";
}

.custom-PPT:before {
  content: "\e84d";
}

.custom-ZIP:before {
  content: "\e84e";
}

.custom-CSV:before {
  content: "\e84f";
}

.custom-download:before {
  content: "\e646";
}

.custom-path:before {
  content: "\e848";
}

.custom-img-checked:before {
  content: "\e847";
}

.custom-left-switch:before {
  content: "\e845";
}

.custom-right-switch:before {
  content: "\e846";
}

.custom-SSL-certificate:before {
  content: "\e83f";
}

.custom-SEO-optimize:before {
  content: "\e840";
}

.custom-background-operation:before {
  content: "\e841";
}

.custom-web-maintain:before {
  content: "\e842";
}

.custom-web-scheme:before {
  content: "\e843";
}

.custom-WEB-design:before {
  content: "\e844";
}

.custom-web-online:before {
  content: "\e83d";
}

.custom-mini-program-online:before {
  content: "\e83e";
}

.custom-automatic-iphone:before {
  content: "\e823";
}

.custom-automatic-desktop:before {
  content: "\e824";
}

.custom-automatic-iPad:before {
  content: "\e825";
}

.custom-web-edit:before {
  content: "\e826";
}

.custom-product-manage:before {
  content: "\e827";
}

.custom-solution-manage:before {
  content: "\e828";
}

.custom-case-manage:before {
  content: "\e829";
}

.custom-web-overview:before {
  content: "\e82a";
}

.custom-img-manage:before {
  content: "\e82b";
}

.custom-news-manage:before {
  content: "\e82c";
}

.custom-web-set:before {
  content: "\e82d";
}

.custom-template-navigation:before {
  content: "\e82e";
}

.custom-index:before {
  content: "\e82f";
}

.custom-more-new:before {
  content: "\e830";
}

.custom-more-operate:before {
  content: "\e831";
}

.custom-hidden:before {
  content: "\e832";
}

.custom-question-tip:before {
  content: "\e833";
}

.custom-copy-black:before {
  content: "\e834";
}

.custom-search-new:before {
  content: "\e835";
}

.custom-hamburger-menu:before {
  content: "\e836";
}

.custom-turn-left:before {
  content: "\e837";
}

.custom-turn-right:before {
  content: "\e838";
}

.custom-preview-delete:before {
  content: "\e839";
}

.custom-delete-new:before {
  content: "\e83a";
}

.custom-fabu:before {
  content: "\e83b";
}

.custom-draft-hover:before {
  content: "\e83c";
}

.custom-custom-InfoNotice:before {
  content: "\e822";
}

.custom-Fb-messenger:before {
  content: "\e821";
}

.custom-news:before {
  content: "\e820";
}

.custom-deal-record:before {
  content: "\e81f";
}

.custom-inner-transpond:before {
  content: "\e81e";
}

.custom-trash:before {
  content: "\e80d";
}

.custom-unbindleads:before {
  content: "\e81c";
}

.custom-bindleads:before {
  content: "\e81d";
}

.custom-arrow-hollow:before {
  content: "\e81b";
}

.custom-arrow-solid:before {
  content: "\e81a";
}

.custom-copy-new:before {
  content: "\e819";
}

.custom-video:before {
  content: "\e818";
}

.custom-confirm:before {
  content: "\e817";
}

.custom-mail-restore:before {
  content: "\e816";
}

.custom-weiwanchengbuzhousezhiCBDEdaxiaoxiangsu:before {
  content: "\e815";
}

.custom-shangchuanshibaijilusezhiABCdaxiao_xiangsu:before {
  content: "\e814";
}

.custom-qianyichenggongdaxiaoxiangsusezhiBB:before {
  content: "\e812";
}

.custom-qianyizhongdaxiaoxiangsusezhiBB:before {
  content: "\e813";
}

.custom-shujuchulidaxiaoxiangsusezhiBB:before {
  content: "\e811";
}

.custom-dangqianbuzhou-weiwanchengdaxiaoxiangsuCC:before {
  content: "\e80f";
}

.custom-dangqianbuzhou-yiwanchengdaxiaoxiangsuCC:before {
  content: "\e810";
}

.custom-preview:before {
  content: "\e80e";
}

.custom-xinjian:before {
  content: "\e80a";
}

.custom-zhandian:before {
  content: "\e80b";
}

.custom-duozhandian:before {
  content: "\e80c";
}

.custom-liebiaoshinormal:before {
  content: "\e808";
}

.custom-kapianshihover:before {
  content: "\e809";
}

.custom-meiti:before {
  content: "\e807";
}

.custom-yemian:before {
  content: "\e804";
}

.custom-dingzhu:before {
  content: "\e805";
}

.custom-gongju:before {
  content: "\e806";
}

.custom-fasongzhong:before {
  content: "\e803";
}

.custom-new-conditions:before {
  content: "\e802";
}

.custom-email-management:before {
  content: "\e801";
}

.custom-daxiaoxiangsushenhezhong:before {
  content: "\e800";
}

.custom-plus:before {
  content: "\e7fd";
}

.custom-mails-sent-successfully-partially:before {
  content: "\e7f9";
}

.custom-mails-sent-successfully:before {
  content: "\e7fa";
}

.custom-mail-sent-unsuccessfully:before {
  content: "\e7fb";
}

.custom-mail-group-sent-unsuccessfully:before {
  content: "\e7fc";
}

.custom-txt:before {
  content: "\e7f0";
}

.custom-word:before {
  content: "\e7f1";
}

.custom-ppt:before {
  content: "\e7f2";
}

.custom-zip:before {
  content: "\e7f3";
}

.custom-audio:before {
  content: "\e7f4";
}

.custom-excel:before {
  content: "\e7f5";
}

.custom-unknown-file-format:before {
  content: "\e7f6";
}

.custom-pdf:before {
  content: "\e7f7";
}

.custom-image:before {
  content: "\e7f8";
}

.custom-YTLeads:before {
  content: "\e7ef";
}

.custom-transaction:before {
  content: "\e7ee";
}

.custom-draggable:before {
  content: "\e7ea";
}

.custom-minus-red:before {
  content: "\e7eb";
}

.custom-more-dot:before {
  content: "\e7ec";
}

.custom-filter:before {
  content: "\e7ed";
}

.custom-top-webMessage:before {
  content: "\e7e8";
}

.custom-top-FBleads:before {
  content: "\e7e9";
}

.custom-yahoo:before {
  content: "\e7dd";
}

.custom-linkedin:before {
  content: "\e7de";
}

.custom-Youtube:before {
  content: "\e7df";
}

.custom-Facebook:before {
  content: "\e7e0";
}

.custom-search360:before {
  content: "\e7e1";
}

.custom-Bing:before {
  content: "\e7e2";
}

.custom-twitter:before {
  content: "\e7e3";
}

.custom-baidu:before {
  content: "\e7e4";
}

.custom-sougou:before {
  content: "\e7e5";
}

.custom-yandex:before {
  content: "\e7e6";
}

.custom-shenma-SE:before {
  content: "\e7e7";
}

.custom-visitor-history:before {
  content: "\e7dc";
}

.custom-visitor-avatar:before {
  content: "\e7db";
}

.custom-service-avatar:before {
  content: "\e7da";
}

.custom-write-letter:before {
  content: "\e7d9";
}

.custom-main-logo:before {
  content: "\e7d7";
}

.custom-logo-text:before {
  content: "\e7d8";
}

.custom-minus:before {
  content: "\e7b8";
}

.custom-AMP:before {
  content: "\e7d4";
}

.custom-circle-arrow:before {
  content: "\e7d5";
}

.custom-form-set-arrow:before {
  content: "\e7d6";
}

.custom-record-inquiry:before {
  content: "\e7d3";
}

.custom-disabled:before {
  content: "\e7c9";
}

.custom-transfer-department:before {
  content: "\e7ca";
}

.custom-authority-distribution:before {
  content: "\e7cb";
}

.custom-authority-tags:before {
  content: "\e7cc";
}

.custom-person:before {
  content: "\e7cd";
}

.custom-authority-tag:before {
  content: "\e7ce";
}

.custom-group:before {
  content: "\e7cf";
}

.custom-fp-paper-file:before {
  content: "\e7d0";
}

.custom-add-user:before {
  content: "\e7d1";
}

.custom-dimission:before {
  content: "\e7d2";
}

.custom-wenjianjia:before {
  content: "\e7c8";
}

.custom-open-new-window:before {
  content: "\e7c7";
}

.custom-customs-data:before {
  content: "\e7c6";
}

.custom-filter-tag-move-right:before {
  content: "\e7c4";
}

.custom-filter-tag-move-left:before {
  content: "\e7c5";
}

.custom-add-inquiry:before {
  content: "\e7bd";
}

.custom-more:before {
  content: "\e7be";
}

.custom-crm-mark:before {
  content: "\e7bf";
}

.custom-crm-claim:before {
  content: "\e7c0";
}

.custom-crm-log:before {
  content: "\e7c1";
}

.custom-crm-transfer:before {
  content: "\e7c2";
}

.custom-crm-send-mail:before {
  content: "\e7c3";
}

.custom-open-mail:before {
  content: "\e7ba";
}

.custom-receive-mail:before {
  content: "\e7bb";
}

.custom-send-mail:before {
  content: "\e7bc";
}

.custom-merge:before {
  content: "\e7b9";
}

.custom-urgent:before {
  content: "\e7b7";
}

.custom-notice-message:before {
  content: "\e7b4";
}

.custom-notice-task:before {
  content: "\e7b6";
}

.custom-notice-system:before {
  content: "\e7b5";
}

.custom-custom-check:before {
  content: "\e7a9";
}

.custom-admin-view:before {
  content: "\e7b2";
}

.custom-personal-view:before {
  content: "\e7b3";
}

.custom-floating-window-enter-clue:before {
  content: "\e7b1";
}

.custom-track-info-header:before {
  content: "\e7b0";
}

.custom-mini-chat:before {
  content: "\e7af";
}

.custom-date-input-select:before {
  content: "\e7ae";
}

.custom-floating-window-arrow:before {
  content: "\e7ad";
}

.custom-locked:before {
  content: "\e7aa";
}

.custom-unlock:before {
  content: "\e7ab";
}

.custom-drop-down-triangle:before {
  content: "\e7a8";
}

.custom-tip:before {
  content: "\e7a1";
}

.custom-rule-table-instructions:before {
  content: "\e7a2";
}

.custom-delete1:before {
  content: "\e7a3";
}

.custom-reduce-circle:before {
  content: "\e7a4";
}

.custom-drag-and-drop:before {
  content: "\e7a5";
}

.custom-facebook-more:before {
  content: "\e7a6";
}

.custom-add-circle:before {
  content: "\e7a7";
}

.custom-file-download:before {
  content: "\e7a0";
}

.custom-file-other:before {
  content: "\e793";
}

.custom-file-gif:before {
  content: "\e794";
}

.custom-file-pdf:before {
  content: "\e795";
}

.custom-file-xls:before {
  content: "\e796";
}

.custom-file-mp4:before {
  content: "\e797";
}

.custom-file-png:before {
  content: "\e798";
}

.custom-file-mp3:before {
  content: "\e799";
}

.custom-file-jpg:before {
  content: "\e79a";
}

.custom-file-text:before {
  content: "\e79b";
}

.custom-file-ppt:before {
  content: "\e79c";
}

.custom-file-bmp:before {
  content: "\e79d";
}

.custom-file-zip:before {
  content: "\e79e";
}

.custom-file-doc:before {
  content: "\e79f";
}

.custom-restore:before {
  content: "\e792";
}

.custom-facebook-share:before {
  content: "\e78f";
}

.custom-facebook-like:before {
  content: "\e790";
}

.custom-facebook-comment:before {
  content: "\e791";
}

.custom-custom-script-set:before {
  content: "\e78e";
}

.custom-tag-color:before {
  content: "\e78d";
}

.custom-mail-star1:before {
  content: "\e78b";
}

.custom-mail-star0:before {
  content: "\e78c";
}

.custom-draft-box:before {
  content: "\e785";
}

.custom-mail-inbox:before {
  content: "\e786";
}

.custom-dustbin:before {
  content: "\e787";
}

.custom-unread-box:before {
  content: "\e788";
}

.custom-star-box:before {
  content: "\e789";
}

.custom-sent-box:before {
  content: "\e78a";
}

.custom-reply:before {
  content: "\e77c";
}

.custom-sign:before {
  content: "\e77d";
}

.custom-back:before {
  content: "\e77e";
}

.custom-tag:before {
  content: "\e77f";
}

.custom-edit-again:before {
  content: "\e780";
}

.custom-delete-mail:before {
  content: "\e781";
}

.custom-move-mail:before {
  content: "\e782";
}

.custom-forward:before {
  content: "\e783";
}

.custom-write-mail:before {
  content: "\e784";
}

.custom-facebook-release-success:before {
  content: "\e777";
}

.custom-facebook-draft-box:before {
  content: "\e778";
}

.custom-facebook-delay-release:before {
  content: "\e779";
}

.custom-facebook-release-failed:before {
  content: "\e77a";
}

.custom-link:before {
  content: "\e77b";
}

.custom-date-single-prev:before {
  content: "\e775";
}

.custom-date-double-prev:before {
  content: "\e776";
}

.custom-facebook-company-page:before {
  content: "\e774";
}

.custom-refresh:before {
  content: "\e773";
}

.custom-through-connection:before {
  content: "\e772";
}

.custom-search:before {
  content: "\e771";
}

.custom-arrow:before {
  content: "\e770";
}

.custom-modal-close:before {
  content: "\e76f";
}

.custom-table-sort-ascending:before {
  content: "\e76b";
}

.custom-table-sort-descending:before {
  content: "\e76c";
}

.custom-table-sort-descending-hover:before {
  content: "\e76d";
}

.custom-table-sort-ascending-hover:before {
  content: "\e76e";
}

.custom-breeze-star:before {
  content: "\e766";
}

.custom-table-filter-tag-delete:before {
  content: "\e765";
}

.custom-table-head-filter:before {
  content: "\e764";
}

.custom-table-audienceOptimization:before {
  content: "\e763";
}

.custom-table-filter:before {
  content: "\e762";
}

.custom-table-edit-columns:before {
  content: "\e761";
}

.custom-visitor-history-detail:before {
  content: "\e75e";
}

.custom-chat:before {
  content: "\e75f";
}

.custom-leave-message:before {
  content: "\e760";
}

.custom-menu-arrow:before {
  content: "\e75d";
}

.custom-menu-arrow-forward:before {
  content: "\e7fe";
}

.custom-menu-arrow-forward-medium:before {
  content: "\e7ff";
}

.custom-fixed-menu:before {
  content: "\e75b";
}

.custom-login-logo-name-en:before {
  content: "\e74e";
}

.custom-logo-en:before {
  content: "\e74c";
}

.custom-login-logo-name:before {
  content: "\e74d";
}

.custom-top-facebook:before {
  content: "\e74b";
}

.custom-top-mail:before {
  content: "\e748";
}

.custom-top-notice:before {
  content: "\e749";
}

.custom-top-chat:before {
  content: "\e74a";
}

.custom-fold-menu:before {
  content: "\e747";
}

.custom-mini-logo:before {
  content: "\e745";
}

.custom-logo:before {
  content: "\e746";
}

.custom-float-window:before {
  content: "\e743";
}

.custom-fixed-window:before {
  content: "\e744";
}

.custom-view-image:before {
  content: "\e742";
}

.custom-copy:before {
  content: "\e740";
}

.custom-delete:before {
  content: "\e741";
}

.custom-tree-select:before {
  content: "\e73d";
}

.custom-add:before {
  content: "\e73e";
}

.custom-product-manage-icon:before {
  content: "\e73c";
}

.custom-export:before {
  content: "\e73a";
}

.custom-import:before {
  content: "\e73b";
}

.custom-product-manage-old:before {
  content: "\e739";
}

.custom-field-delete:before {
  content: "\e738";
}

.custom-field-recover:before {
  content: "\e736";
}

.custom-field-edit:before {
  content: "\e737";
}

.custom-icon-yuan:before {
  content: "\e734";
}

.custom-icon-dollar:before {
  content: "\e735";
}

.custom-ascending:before {
  content: "\e733";
}

.custom-statistical-period:before {
  content: "\e731";
}

.custom-descending:before {
  content: "\e732";
}

.custom-shield:before {
  content: "\e72f";
}

.custom-revocation-shield:before {
  content: "\e730";
}

.custom-windows:before {
  content: "\e726";
}

.custom-IE:before {
  content: "\e727";
}

.custom-iOS:before {
  content: "\e728";
}

.custom-chrome:before {
  content: "\e729";
}

.custom-opera:before {
  content: "\e72a";
}

.custom-Firefox:before {
  content: "\e72b";
}

.custom-safari:before {
  content: "\e72c";
}

.custom-android:before {
  content: "\e72d";
}

.custom-360:before {
  content: "\e72e";
}

.custom-send-email-success:before {
  content: "\e722";
}

.custom-send-email-error:before {
  content: "\e723";
}

.custom-px-trace:before {
  content: "\e724";
}

.custom-mail-annex:before {
  content: "\e725";
}

.custom-verbal-trick:before {
  content: "\e71f";
}

.custom-annex-file:before {
  content: "\e721";
}

.custom-enter-clue:before {
  content: "\e71e";
}

.custom-useful-chat:before {
  content: "\e71b";
}

.custom-recall-back:before {
  content: "\e71c";
}

.custom-clue-recorded:before {
  content: "\e71d";
}

.custom-remark-edit:before {
  content: "\e71a";
}

.custom-show-more:before {
  content: "\e718";
}

.custom-collapse:before {
  content: "\e719";
}

.custom-leads-customer:before {
  content: "\e714";
}

.custom-crm-customer:before {
  content: "\e712";
}

.custom-view-close-inquiry-log:before {
  content: "\e710";
}

.custom-follow-type-create:before {
  content: "\e713";
}

.custom-highseas-record:before {
  content: "\e711";
}

.custom-drawer-detail-close:before {
  content: "\e70f";
}

.custom-highseas-clue:before {
  content: "\e70b";
}

.custom-inquiry:before {
  content: "\e70d";
}

.custom-contact:before {
  content: "\e70a";
}

.custom-highseas-customer:before {
  content: "\e70c";
}

.custom-clue:before {
  content: "\e70e";
}

.custom-follow-type-facebook:before {
  content: "\e706";
}

.custom-follow-type-visit:before {
  content: "\e707";
}

.custom-follow-type-mail:before {
  content: "\e708";
}

.custom-follow-type-manually:before {
  content: "\e709";
}

.custom-calendar:before {
  content: "\e701";
}

.custom-edit:before {
  content: "\e6fe";
}

.custom-follow-edit-area-close:before {
  content: "\e6fb";
}

.custom-annex-picture:before {
  content: "\e6fa";
}

.custom-star:before {
  content: "\e6f8";
}

.custom-customer:before {
  content: "\e6f7";
}

