body.v-tour--active {
  pointer-events: none;
}

.v-tour {
  pointer-events: auto;
}

.v-tour__target--highlighted {
  box-shadow    : 0 0 0 99999px rgba(0, 0, 0, .4);
  pointer-events: auto;
  z-index       : 9999;
}

.v-tour__target--relative {
  position: relative;
}

.v-step[data-v-7c9c03f0] {
  background   : #ffffff;
  color        : rgba(0, 0, 0, .8);
  // max-width: 320px;
  border-radius: 3px;
  filter       : drop-shadow(0 0 2px rgba(0, 0, 0, 0.5));
  padding      : 1rem;
  text-align   : center;
  z-index      : 10000;
}

.v-step .v-step__arrow[data-v-7c9c03f0] {
  width       : 0;
  height      : 0;
  border-style: solid;
  position    : absolute;
  margin      : 0.5rem;
  border-color: #ffffff;

  &::after {
    font-family      : custom;
    content          : "\E875";
    color            : #fff;
    font-size        : 38px;
    position         : absolute;
    -webkit-transform: translateY(-50%);
    transform        : translateY(-50%);
  }
}

.v-step .v-step__arrow--dark[data-v-7c9c03f0] {
  // border-color: #454d5d;
  border-color: #ffffff;
}

.v-step[x-placement^="top"][data-v-7c9c03f0] {
  margin-bottom: 4rem;
}

.v-step[x-placement^="top"] .v-step__arrow[data-v-7c9c03f0] {
  border-width       : 0.5rem 0.5rem 0 0.5rem;
  border-left-color  : transparent;
  border-right-color : transparent;
  border-bottom-color: transparent;
  bottom             : -0.5rem;
  left               : calc(50% - 1rem);
  margin-top         : 0;
  margin-bottom      : 0;
  // &::after {
  //   right: -3rem;
  //   top: 0.5rem;
  // }
}

.v-step[x-placement^="bottom"][data-v-7c9c03f0] {
  margin-top: 4rem;
}

.v-step[x-placement^="bottom"] .v-step__arrow[data-v-7c9c03f0] {
  border-width      : 0 0.5rem 0.5rem 0.5rem;
  border-left-color : transparent;
  border-right-color: transparent;
  border-top-color  : transparent;
  top               : -0.5rem;
  left              : calc(50% - 1rem);
  margin-top        : 0;
  margin-bottom     : 0;

  &::after {
    top : -1.6rem;
    left: -0.9rem;
  }
}

.v-step[x-placement^="right"][data-v-7c9c03f0] {
  margin-left: 4rem;
}

.v-step[x-placement^="right"] .v-step__arrow[data-v-7c9c03f0] {
  border-width       : 0.5rem 0.5rem 0.5rem 0;
  border-left-color  : transparent;
  border-top-color   : transparent;
  border-bottom-color: transparent;
  left               : -0.5rem;
  top                : calc(50% - 1rem);
  margin-left        : 0;
  margin-right       : 0;

  &::after {
    right: 0.6rem;
    top  : 0.6rem;
  }
}

.v-step[x-placement^="left"][data-v-7c9c03f0] {
  margin-right: 4rem;
}

.v-step[x-placement^="left"] .v-step__arrow[data-v-7c9c03f0] {
  border-width       : 0.5rem 0 0.5rem 0.5rem;
  border-top-color   : transparent;
  border-right-color : transparent;
  border-bottom-color: transparent;
  right              : -0.5rem;
  top                : calc(50% - 1rem);
  margin-left        : 0;
  margin-right       : 0;

  &::after {
    left: 0.6rem;
    top : .5rem;
  }
}

.v-step__header[data-v-7c9c03f0] {
  margin                 : -1rem -1rem 0.5rem;
  padding                : 0.5rem;
  background-color       : #454d5d;
  border-top-left-radius : 3px;
  border-top-right-radius: 3px;
}

.v-step__content[data-v-7c9c03f0] {
  margin    : 0 0 1rem 0;
  text-align: left;
  color     : rgba(0, 0, 0, .8);
}

.v-step__button[data-v-7c9c03f0] {
  background        : transparent;
  border            : 0.05rem solid #fff;
  border-radius     : 0.1rem;
  color             : #fff;
  cursor            : pointer;
  display           : inline-block;
  font-size         : 0.8rem;
  height            : 1.8rem;
  line-height       : 1rem;
  outline           : none;
  margin            : 0 0.2rem;
  padding           : 0.35rem 0.4rem;
  text-align        : center;
  text-decoration   : none;
  -webkit-transition: all 0.2s ease;
  transition        : all 0.2s ease;
  vertical-align    : middle;
  white-space       : nowrap;
}

.v-step__button[data-v-7c9c03f0]:hover {
  background-color: hsla(0, 0%, 100%, 0.95);
  color           : #50596c;
}

.tour_content_slot {
  width    : 100%;
  font-size: 14px;
  color    : rgba(0, 0, 0, 0.8);
  &_img {
    margin: 15px 0;
  }
  p {
    line-height: 20px;
  }
  p:nth-child(1) {
    margin-bottom: 10px;
  }
}