html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: url(../img/bj.jpg) repeat 0 0;
}

.content {
    width: 100%;
    height: 100%;
}

.content a.index {
    display: block;
    width: 100%;
    height: 100%;
}

.content .index,
.content img {
    display: block;
    width: 100%;
    height: 100%;
}

.login-btn,
.user-btn {
    position: absolute;
    top: 14px;
    right: 60px;
    color: #fff;
    line-height: 32px;
    font-size: 16px;
    width: 60px;
    text-align: center;
    cursor: pointer;
}

.user-btn {
    display: none;
}

.login-pop {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 360px;
    margin-left: -180px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.login-pop h3 {
    padding: 20px 0 10px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    color: #333;
}

.login-pop .login-box {
    padding: 15px;
}