html,body{
    width: 100%;
    height: 100%;
}
.main{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url(../img/bj_top.jpg) repeat-x left top;
}
.main .bj{
    display: block;
    width: 100%;
    height: 100%;
}
.main_box{
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
}
.main_box .title,.main_box .poetry-title{
    width: 100%;
    margin: 40px 0;
}
.poetry-title{
    margin: 40px 0 10px;
}
.main_box .title img{
    display: block;
    width: 90px;
    margin: 0 auto;
}
.main_box .class-list{
    max-width: 640px;
    margin: 0 auto;
}
.main_box .class-list ul{
    display: block;
    width: 100%;
}
.main_box .class-list ul li{
    float: left;
    width: 50%;
    margin-bottom: 20px;
}
.main_box .class-list li a{
    display: block;
    background: url(../img/class-list-bj-btn.gif) no-repeat left center;
    line-height: 32px;
    height: 32px;
    padding-left: 60px;
}
.main_box .class-list li a span{
    display: block;
    width: 80%;
    background: url(../img/class-list-bj.png) no-repeat center center;
    text-align: center;
    font-weight: bold;
    color: #333;
}
.main_box .class-title{
    margin-left: 100px;
    width: 240px;
    background: url(../img/class-title-btn.gif) no-repeat left center;
    line-height: 35px;
    height: 35px;
    padding-left: 60px;
}
.main_box .class-title span{
    display: block;
    background: url(../img/class-list-bj.png) no-repeat center center;
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}
.main_box .poetry-list{
    padding-top: 20px;
    max-width: 730px;
    margin: 0 auto;
    overflow: hidden;
}
.main_box .poetry-list ul{
    width: 360px;
    margin: 0 auto;
}
.main_box .poetry-list ul.more-list{
    float: left;
}
.main_box .poetry-list li{
    background: url(../img/class-list-bj-btn.gif) no-repeat left center;
    line-height: 32px;
    height: 32px;
    padding-left: 30px;
    margin-bottom: 20px;
}
.main_box .poetry-list li a{
    display: block;
    width: 280px;
    background: url(../img/class-list-bj.png) no-repeat center center;
    text-align: center;
    font-weight: bold;
    color: #333;
}
.main_box .menus{
    position: absolute;
    height: 100%;
}
.main_box .left-btns{
    left: 1.5%;
}
.main_box .right-btns{
    right: 1.5%;
}
.main_box .menus .btn-list{
    position: absolute;
    overflow: hidden;
}
.main_box .menus .top1{
    top: 8%;
}
.main_box .menus .top2{
    top: 42%;
}
.main_box .menus .top3{
    top: 64%;
}
.main_box .menus .top4{
    top: 8%;
}
.main_box .menus .top5{
    top: 30%;
}
.main_box .menus .top6{
    top: 52%;
}
.main_box .menus .top7{
    top: 72%;
}
.btn-list .left-btn{
    float: left;
    padding-top: 3px;
    width: 30px;
    height: 101px;
    margin-top: 35px;
    line-height: 24px;
    background: url(../img/menu-bj.gif) no-repeat 0 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.btn-list .right-btn{
    padding-left: 45px;
}
.btn-list .right-btn a{
    display: block;
    width: 75px;
    line-height: 22px;
    background: url(../img/btn-bj.gif) no-repeat 0 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}
.top2 .left-btn ,.top4 .left-btn ,.top5 .left-btn ,.top6 .left-btn{
    margin-top: 0;
}
.top3 .left-btn,.top7 .left-btn{
    margin-top: 20px;
}
.top2 .right-btn ,.top6 .right-btn{
    margin-top: 20px;
}
.right-btns{
    width: 130px;
}
.right-btns .btn-list{
    width: 100%;
    overflow: hidden;
}
.right-btns .btn-list .left-btn{
    float: right;
    padding-left: 0px;
}
.right-btns .btn-list .right-btn{
    float: left;
    padding: 0;
}

a.back{
    right: 60px;
    bottom: 50px;
}
a.poetry-back{
    right:200px;
    bottom: 50px;
}

.poetry-box{
    position: relative;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}
.poetry-box .poetry-img{
    position: relative;
    width: 60%;
    min-width: 660px;
    max-width: 1080px;
    margin: 20px auto 40px;
    z-index: 30;
}
.poetry-box .threelevel1-img{
    width: 80%;
    max-width: 1366px;
    min-width: 860px;
    margin-top: 80px;
}
.poetry-box .poetry-img img{
    display: block;
    width: 100%;
}
.poetry-box .poetry-btns{
    text-align: center;
}
.poetry-box .poetry-btns a{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    margin: 0 20px;
}
.poetry-box .poetry-btns a audio{
    position: absolute;
    display: block;
    width: 240px;
    height: 30px;
    left: -80px;
    bottom: -10px;
    display: none;
    z-index: 30;
}
.poetry-box .poetry-btns .yin{
    background: url(../img/yin.png) no-repeat center center;
    background-size: 100%
}
.poetry-box .poetry-btns .song{
    background: url(../img/song.png) no-repeat center center;
    background-size: 100%
}
.level-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 15px;
    background: url(../img/bj_footer_level.jpg) repeat-x 0 0;
    z-index: 10;
}
.bg-ys{
    position: absolute;
    width: 150px;
    height: 42px;
    top: 20px;
    left: 20px;
    background: url(../img/bj_ys.jpg) no-repeat 0 0;
    background-size: 100%;
    z-index: 10;
}
.audio-box{
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 15px;
    left: 0;
    text-align: center;
    z-index: 99;
    display: none;
}
.audio-box audio{
    width: 30%;
    min-width: 460px;
    max-width: 1080px;
    height: 50px;
    margin: 0 auto;
}