html,
body {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.share-btn,
.login-btn {
    position: absolute;
    top: 14px;
    right: 60px;
    color: #333;
    line-height: 32px;
    font-size: 16px;
    width: 80px;
    height: 40px;
    background: url(../img/share.gif) no-repeat 0 0;
    background-size: 100%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    z-index: 99;
}

.login-pop {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -150px;
    margin-left: -150px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    z-index: 999;
    display: none;
}

.login-pop h3 {
    position: relative;
    padding: 20px 0 10px;
    overflow: hidden;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    color: #333;
}

.login-pop h3 .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    line-height: 30px;
    text-align: center;
}

.login-pop .login-box {
    padding: 15px;
}

.login-pop .login-box img {
    display: block;
    width: 100%;
}

.main .bj {
    display: block;
    width: 100%;
    height: 100%;
}

.main_box {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#menus-box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.main_box .title,
.main_box .poetry-title {
    position: relative;
    width: 100%;
    margin: 5.93% 0 4.87%;
}

.poetry-title {
    margin: 40px 0 10px;
}

.main_box .title img {
    display: block;
    height: 35px;
    margin: 0 auto;
}

.main_box .class-list {
    max-width: 640px;
    margin: 0 auto;
}

.main_box .class-list ul {
    display: block;
    width: 100%;
}

.main_box .class-list ul li {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

.main_box .class-list li a {
    display: block;
    background: url(../img/class-list-bj-btn.gif) no-repeat left center;
    line-height: 32px;
    height: 32px;
    padding-left: 60px;
    cursor: pointer;
}

.main_box .class-list li a span {
    display: block;
    width: 80%;
    background: url(../img/class-list-bj.png) no-repeat center center;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.main_box .class-title {
    position: absolute;
    top: 0;
    left: 100px;
    width: 240px;
    background: url(../img/class-title-btn.gif) no-repeat left center;
    line-height: 35px;
    height: 35px;
    padding-left: 30px;
}

.main_box .class-title span {
    display: block;
    background: url(../img/class-list-bj.png) no-repeat center center;
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.main_box .poetry-list {
    position: absolute;
    width: 850px;
    top: 50%;
    left: 50%;
    margin-left: -425px;
    overflow: hidden;
    text-align: center;
}

.main_box .poetry-list ul {
    width: 280px;
    margin: 0 auto;
}

.main_box .poetry-list ul.more-list {
    display: inline-block;
    vertical-align: top;
    _zoom: 1;
    *display: inline;
}

.main_box .poetry-list li {
    background: url(../img/class-list-bj-btn.gif) no-repeat left center;
    line-height: 32px;
    height: 32px;
    padding-left: 8px;
    margin-bottom: 10px;
}

.main_box .poetry-list li a {
    display: block;
    width: 280px;
    background: url(../img/class-list-bj.png) no-repeat center center;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.main_box .poetry-list li a.small {
    font-size: 14px;
}

.main_box .poetry-list li a.smaller {
    font-size: 10px;
}

#intentionList {
    max-width: 566px;
}

#intentionList ul {
    width: 280px;
}

#intentionList ul li {
    background: none;
    padding: 0;
}

.main_box .menus {
    width: 130px;
    position: absolute;
    height: 100%;
}

.main_box .left-btns {
    left: 4.3%;
}

.main_box .right-btns {
    right: 4.3%;
}

.main_box .menus .btn-list {
    position: absolute;
    overflow: hidden;
}

.main_box .left-btns .top1 {
    top: 8%;
}

.main_box .left-btns .top2 {
    top: 36%;
}

.main_box .left-btns .top3 {
    top: 64%;
}

.main_box .left-btns .top4 {
    top: 84%;
}

.main_box .right-btns .top1 {
    top: 8%;
}

.main_box .right-btns .top2 {
    top: 30%;
}

.main_box .right-btns .top3 {
    top: 52%;
}

.main_box .right-btns .top4 {
    top: 72%;
}

.btn-list .left-btn {
    float: left;
    padding-top: 6px;
    overflow: hidden;
    width: 28px;
    height: 94px;
    margin-top: 35px;
    line-height: 20px;
    background: url(../img/menu-bj.gif) no-repeat 0 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 1px;
}

.btn-list .right-btn {
    float: left;
    margin-left: 25px;
    display: none;
}

.btn-list .right-btn a {
    display: block;
    width: 75px;
    line-height: 22px;
    background: url(../img/btn-bj.gif) no-repeat 0 0;
    color: #fff;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.left-btns .top2 .left-btn,
.right-btns .top1 .left-btn,
.right-btns .top2 .left-btn,
.right-btns .top3 .left-btn {
    margin-top: 0;
}

.left-btns .top3 .left-btn,
.right-btns .top4 .left-btn {
    margin-top: 20px;
}

.left-btns .top2 .right-btn,
.right-btns .top3 .right-btn {
    margin-top: 18px;
}

.right-btns .btn-list {
    width: 100%;
    overflow: hidden;
}

.right-btns .btn-list .left-btn {
    float: right;
    padding-left: 0px;
}

.right-btns .btn-list .right-btn {
    float: left;
    padding: 0;
    margin-left: 0;
}

a.back {
    right: 60px;
    bottom: 50px;
}

a.three-back {
    right: 0;
    bottom: 4%;
    width: 100px;
    height: 60px;
}

a.poetry-back {
    right: 200px;
    bottom: 50px;
}

.poetry-box {
    position: absolute;
    width: 62%;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -31%;
    overflow: hidden;
}

.poetry-box .class-abbr-title {
    position: absolute;
    left: 10px;
    top: 40px;
    *top: 50px;
    font-size: 24px;
    color: #000;
    font-family: '仿宋';
    font-weight: bold;
}

.poetry-box .poetry-title {
    width: 100%;
    *padding-top: 50px;
    margin-bottom: 4.87%;
}

.poetry-box .poetry-title img {
    display: block;
    width: 12%;
    margin: 0 auto;
}

.poetry-box .poetry-com {
    width: 100%;
    height: 72%;
    position: absolute;
    top: 10%;
    left: 18px;
    overflow: auto;
    overflow-x: hidden;
}

.poetry-box .poetry-com img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.show-btns-btn {
    width: 100%;
    position: absolute;
    bottom: 2%;
}

.media-btn {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
    display: none;
}

.media-btn a {
    display: inline-block;
    _zoom: 1;
    _display: inline;
    width: 66px;
    line-height: 20px;
    background: url(../img/audio-bj.gif) no-repeat 0 0;
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
}

.media-btn-list {
    width: 100%;
    text-align: center;
}

.media-btn-list a {
    display: inline-block;
    _zoom: 1;
    _display: inline;
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.media-btn-list a.yin1 {
    background: url(../img/yin1.png) no-repeat 0 0;
    background-size: 100%;
}

.media-btn-list a.song {
    background: url(../img/song.png) no-repeat 0 0;
    background-size: 100%;
}

.media-btn-list a.lu {
    background: url(../img/lu.png) no-repeat 0 0;
    background-size: 100%;
}

.media-btn-list a.yin {
    background: url(../img/yin.png) no-repeat 0 0;
    background-size: 100%;
}

.audio-box {
    position: absolute;
    width: 50%;
    height: 30px;
    bottom: 11.5%;
    left: 50%;
    margin-left: -25%;
    text-align: center;
    z-index: 9999;
    display: none;
    background: #000;
}

.audio-box .audio {
    width: 100%;
    height: 30px;
    margin: 0 auto;
}

.theme-title {
    position: absolute;
    width: 100%;
    height: 10%;
    margin: 3% 0;
}

.theme-title img {
    display: block;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.theme-com {
    position: absolute;
    left: 50%;
    width: 60%;
    top: 20%;
    height: 68%;
    margin-left: -30%;
    overflow-x: hidden;
    overflow-y: auto;
    word-break: break-all;
}

.video-com {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
    margin: auto;
}

.wzp {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.theme-com img {
    display: block;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.wzp img {
    width: 90%;
}

.video-com video {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: auto;
}

.page-turn {
    position: absolute;
    left: 60px;
    bottom: 50px;
    z-index: 99;
}

.page-turn a {
    display: none;
    width: 120px;
    height: 72px;
    cursor: pointer;
}

.page-turn a img {
    display: block;
    width: 100%;
}