html,
body {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.main {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.main .bj {
    display: block;
    width: 100%;
    height: 100%;
}

.main_box {
    position: absolute;
    left: 20px;
    top: 20px;
    right: 20px;
    bottom: 20px;
}

.main_box .title,
.main_box .poetry-title {
    width: 100%;
    margin: 40px 0;
}

.poetry-title {
    margin: 40px 0 10px;
}

.main_box .title img {
    display: block;
    width: 90px;
    margin: 0 auto;
}

.main_box .class-list {
    max-width: 640px;
    margin: 0 auto;
}

.main_box .class-list ul {
    display: block;
    width: 100%;
}

.main_box .class-list ul li {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

.main_box .class-list li a {
    display: block;
    background: url(../img/class-list-bj-btn.gif) no-repeat left center;
    line-height: 32px;
    height: 32px;
    padding-left: 60px;
    cursor: pointer;
}

.main_box .class-list li a span {
    display: block;
    width: 80%;
    background: url(../img/class-list-bj.png) no-repeat center center;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.main_box .class-title {
    margin-left: 100px;
    width: 240px;
    background: url(../img/class-title-btn.gif) no-repeat left center;
    line-height: 35px;
    height: 35px;
    padding-left: 60px;
}

.main_box .class-title span {
    display: block;
    background: url(../img/class-list-bj.png) no-repeat center center;
    text-align: center;
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.main_box .poetry-list {
    padding-top: 20px;
    max-width: 730px;
    margin: 0 auto;
    overflow: hidden;
}

.main_box .poetry-list ul {
    width: 360px;
    margin: 0 auto;
}

.main_box .poetry-list ul.more-list {
    float: left;
}

.main_box .poetry-list li {
    background: url(../img/class-list-bj-btn.gif) no-repeat left center;
    line-height: 32px;
    height: 32px;
    padding-left: 30px;
    margin-bottom: 20px;
}

.main_box .poetry-list li a {
    display: block;
    width: 280px;
    background: url(../img/class-list-bj.png) no-repeat center center;
    text-align: center;
    font-weight: bold;
    color: #333;
}
#intentionList {
    max-width: 566px;
}
#intentionList ul{
    width: 280px;
}
#intentionList ul li{
    background: none;
    padding: 0;
}
.main_box .menus {
    width: 130px;
    position: absolute;
    height: 100%;
}

.main_box .left-btns {
    left: 1.5%;
}

.main_box .right-btns {
    right: 1.5%;
}

.main_box .menus .btn-list {
    position: absolute;
    overflow: hidden;
}

.main_box .menus .top1 {
    top: 8%;
}

.main_box .menus .top2 {
    top: 42%;
}

.main_box .menus .top3 {
    top: 64%;
}

.main_box .menus .top4 {
    top: 8%;
}

.main_box .menus .top5 {
    top: 30%;
}

.main_box .menus .top6 {
    top: 52%;
}

.main_box .menus .top7 {
    top: 72%;
}

.btn-list .left-btn {
    float: left;
    padding-top: 3px;
    overflow: hidden;
    width: 30px;
    height: 101px;
    margin-top: 35px;
    line-height: 24px;
    background: url(../img/menu-bj.gif) no-repeat 0 0;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 1px;
}

.btn-list .right-btn {
    padding-left: 45px;
    display: none;
}

.btn-list .right-btn a {
    display: block;
    width: 75px;
    line-height: 22px;
    background: url(../img/btn-bj.gif) no-repeat 0 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
    cursor: pointer;
}

.top2 .left-btn,
.top4 .left-btn,
.top5 .left-btn,
.top6 .left-btn {
    margin-top: 0;
}

.top3 .left-btn,
.top7 .left-btn {
    margin-top: 20px;
}

.top2 .right-btn,
.top6 .right-btn {
    margin-top: 18px;
}

.right-btns .btn-list {
    width: 100%;
    overflow: hidden;
}

.right-btns .btn-list .left-btn {
    float: right;
    padding-left: 0px;
}

.right-btns .btn-list .right-btn {
    float: left;
    padding: 0;
}

a.back {
    right: 60px;
    bottom: 50px;
}

a.poetry-back {
    right: 200px;
    bottom: 50px;
}

.poetry-box {
    position: absolute;
    width: 70%;
    height: 100%;
    left: 50%;
    margin-left: -35%;
    overflow: hidden;
}

.poetry-box .class-abbr-title {
    position: absolute;
    left: 10px;
    top: 40px;
    *top:50px;
    font-size: 24px;
    color: #000;
    font-family: '仿宋';
    font-weight: bold;
}

.poetry-box .poetry-title {
    width: 100%;
    *padding-top: 50px;
    margin-bottom: 20px;
}

.poetry-box .poetry-title img {
    display: block;
    width: 100px;
    margin: 0 auto;
}

.poetry-box .poetry-com {
    width: 100%;
}

.poetry-box .poetry-com img {
    display: block;
    width: 50%;
    margin: 0 auto;
}
.show-btns-btn {
    width: 100%;
    position: absolute;
    bottom: 1%;
}
.media-btn {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    display: none;
}
.media-btn a {
    display: inline-block;
    _zoom: 1;
    _display: inline;
    width: 75px;
    line-height: 22px;
    background: url(../img/btn-bj.gif) no-repeat 0 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
}
.media-btn-list{
    width: 100%;
    text-align: center;
}
.media-btn-list a{
    display: inline-block;
    _zoom: 1;
    _display: inline;
    width: 50px;
    height: 50px;
    margin: 0 10px;
}
.media-btn-list a.yin1{
    background: url(../img/yin1.png) no-repeat 0 0;
}
.media-btn-list a.song{
    background: url(../img/song.png) no-repeat 0 0;
}
.media-btn-list a.lu{
    background: url(../img/lu.png) no-repeat 0 0;
}
.media-btn-list a.yin{
    background: url(../img/yin.png) no-repeat 0 0;
}
.audio-box{
    position: absolute;
    width: 300px;
    height: 30px;
    bottom: 15px;
    left:50%;
    margin-left: -150px;
    text-align: center;
    z-index: 99;
    display: none;
    background: #000;
}
.audio-box .audio {
    width: 100%;
    height: 30px;
    margin: 0 auto;
}
.theme-title{
    width: 100%;
    height: 60px;
    margin: 20px 0;
}
.theme-title img{
    display: block;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
}
.theme-com{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin:auto;
}
.theme-com img{
    display: block;
    width: 55%;
    overflow: hidden;
    margin:auto;
}
.theme-com video{
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:auto;
}
.page-turn{
    position: absolute;
    left: 60px;
    bottom: 50px;
    z-index: 99;
}
.page-turn a{
    display: none;
    width: 120px;
    height: 72px;
    cursor: pointer;
}
.page-turn a img{
    display: block;
    width: 100%;
}